.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #d6d6d6;

  --primary-color: #627cff;
  --secondary-color: #9a97ff;
  --inverted-primary-color: #474af0;
  --inverted-secondary-color: #101010;
}
