.app.light {
  --bg-color: #d6d6d6;
  --inverted-bg-color: #0e0e75;

  --primary-color: #474af0;
  --secondary-color: #101010;
  --inverted-primary-color: #627cff;
  --inverted-secondary-color: #9a97ff;
}
